<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>
<body>
<h3>Bienvenido a la página del <%= title %></h3>

<img src="images/eduardo.png" border="0" width="120" height="135">
<p>Eduardo Rubén Gallegos</p>
<p>Tecnólogo en Electrónica</p>
</body>
</html>